.container {
  display: flex;
  flex-direction: row;
}

.section {
  min-height: 100vh;
  padding: 60px;
}

.section.side {
  width: 30%;
  background: url("./assets/bg-2.jpg");
  background-size: cover;
  background-position: center;
}

.section.content {
  width: 70%;
  background: white;
}

.logo {
  background: url("./assets/code_design_logo.svg");
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile-header {
  display: none;
}

.content {
}

.content .description {
  width: 70%;
  line-height: 22.8px;
}

#register iframe {
  margin-left: -28px;
  padding: 0px;
  border: 0px;
}

ul {
  margin-bottom: 32px;
}

ul > li {
  margin-bottom: 12px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .section {
    width: 100% !important;
    min-height: unset;
  }
  .section.content {
    width: 100%;
    background: white;
  }

  .section.side {
    display: none;
  }

  .content .description {
    width: 100%;
  }

  .mobile-header {
    display: block;
    background: url("./assets/code_design_logo.svg");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
