.container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.section {
  min-height: 100vh;
  padding: 60px;
}

@media screen and (max-width: 800px) {
  .section {
    min-height: unset;
    padding: 20px;
  }
}

.section.side {
  width: 30%;
  background: url("./assets/bg-2.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .section.side {
    display: none;
  }
}

.section.content {
  width: 70%;
  background: white;
}

@media screen and (max-width: 800px) {
  .section.content {
    width: 90%;
    background: white;
    margin-top: 150px;
  }
}

.logo {
  background: url("./assets/code_design_logo.svg");
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile-header {
  display: none;
}

.content .description {
  width: 70%;
  line-height: 22.8px;
}

@media screen and (max-width: 800px) {
  .content .description {
    width: 100%;
  }
}

#register iframe {
  margin-left: -28px;
  padding: 0px;
  border: 0px;
}

@media screen and (max-width: 800px) {
  #register iframe {
    margin-left: 0;
    padding: 0px;
    border: 0px;
  }
}

ul {
  margin-bottom: 32px;
}

ul > li {
  margin-bottom: 12px;
}

@media screen and (max-width: 800px) {
  .mobile-header {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    /* box-shadow: #16141a; */
    padding: 20px 20px 20px 20px;
  }

  .mobile-header-logo {
    background: url("./assets/code_design_logo.svg");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
