@font-face {
  font-family: "Nexa Bold";
  src: local("Nexa Bold"), url(./assets/fonts/Nexa\ Bold.otf) format("truetype");
}

@font-face {
  font-family: "Nexa Light";
  src: local("Nexa Light"),
    url(./assets/fonts/Nexa\ Light.otf) format("truetype");
}

body {
  margin: 0;
  font-family: "Nexa Light", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #be3a26;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa Bold", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
